{{define "main"}}
  <aside>
    {{ range .Pages }}

        {{ $Position := .Param "position" }}

        {{ if eq $Position "aside" }}
          {{ $Title := .Title }}
          {{ $Id := lower $Title}}
          {{ $PartialLoc := printf "%s.html" $Id }}
          {{ partial $PartialLoc . }}
        {{ end }}

    {{ end }}
  </aside>
  {{ range .Pages }}
    {{ $Position := .Param "position" }}

    {{ if ne $Position "aside" }}

      {{ $Title := .Title }}
      {{ $Content := .Content }}
      <section id="{{lower .Title}}">
        <a>
          <h2>{{ $Title }}</h2>
          <p> {{ $Content }}</p>
          {{ if eq $Title "Team" }}
            <ul id="teamMemberList">
              {{ range $.Site.Data.team }}
                  {{ partial "team.html" . }}
              {{ end }}
            </ul>
          {{ end }}
        </a>
      </section>
    {{ end }}
  {{ end }}
{{end}}
