/* Variables */
$color-dark: #111111 !default;
$color-light: #ffffff !default;
$color-main: #f2a23a !default;
$color-dark-theme-bg: #262626;
$wrapper-width: 900px !default;
$wrapper-margin: 2rem;
$standard-padding: 0.5rem;

$themes: (
  "light": (
    "text-color": $color-dark,
    "bg-color": $color-light,
    "icon-filter-color": none,
    "svg-fill-color": $color-dark,
    "visited-link-color": -webkit-link,
    "not-visited-link-color": -webkit-link,
    "display-property-light-title": block,
    "display-property-dark-title": none,
  ),
  "dark": (
    "text-color": $color-light,
    "bg-color": $color-dark-theme-bg,
    "icon-filter-color": invert(100%) sepia(0%) saturate(2%) hue-rotate(311deg)
      brightness(103%) contrast(101%),
    "svg-fill-color": $color-light,
    "visited-link-color": #8e24aa,
    "not-visited-link-color": #1976d2,
    "display-property-light-title": none,
    "display-property-dark-title": block,
  ),
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

/* General */
* {
  box-sizing: border-box;
}

body {
  font: 100% "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  @include theme() {
    background-color: theme-get("bg-color");
    color: theme-get("text-color");
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  max-width: $wrapper-width;
  margin: $wrapper-margin auto;
}

.background-main {
  background-color: $color-main;
}
/* Header */
header {
  a {
    display: block;
    text-decoration: none;

    .hidden-title {
      display: none;
    }

    .site-logo {
      display: block;
      width: 40rem;
      max-width: 100%;
      margin: 0 auto;
    }

    .site-subtitle {
      text-align: center;
      font-size: 4rem;
      @include theme() {
        color: theme-get("text-color");
      }
    }
  }
}

.button {
  font-weight: bold;
  margin: 0 0.1rem;
  padding: 0.9rem;
  background-color: $color-main;
  color: $color-light;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.button.shortcode {
  color: $color-light !important;
  margin: $standard-padding 0;
}

nav {
  display: block;

  input,
  label {
    display: none;
  }

  label {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: $color-main;
    color: $color-light;
    padding: $standard-padding 0;
  }

  ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto; //Add more columns if needed

    li {
      margin: 0.1rem;
    }
  }
}

main {
  section {
    padding: $standard-padding 1.5rem;
  }

  .two-cols,
  .broad {
    padding: 0;
  }

  .two-cols {
    display: flex;
    justify-content: space-between;

    main {
      width: 66%;
    }

    aside {
      width: 33%;
      padding: $standard-padding 1.5rem;
      border-left: 1px solid $color-main;

      .social {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        a {
          padding: $standard-padding;

          svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }

  #events,
  #impressum,
  #post,
  .single-workshop {
    a:visited {
      @include theme() {
        color: theme-get("visited-link-color");
      }
    }
    a:link {
      @include theme() {
        color: theme-get("not-visited-link-color");
      }
    }
  }

  #all-posts {
    h2 {
      text-align: center;
    }
  }

  .post-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1rem 0;
      padding: 0;

      &:not(:first-child) {
        border-top: 1px solid;
        @include theme() {
          border-color: theme-get("text-color");
        }
      }

      a {
        @include theme() {
          color: theme-get("text-color");
        }
        text-decoration: none;

        &:hover {
          color: $color-main;
        }
      }

      .ellipsis {
        text-align: center;
      }
    }
  }

  #post {
    .authors,
    .date {
      display: inline-block;
    }

    .authors,
    .tags {
      list-style: none;

      li {
        display: inline-block;
      }

      .list-separator:last-of-type {
        display: none;
      }
    }

    figure,
    img {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .tags {
      padding: 0;

      li {
        border-radius: 0.5rem;
        padding: 0.1rem 0.4rem;
        border: 1px dotted;
        @include theme() {
          border-color: theme-get("text-color");
        }

        &:hover {
          cursor: pointer;
          border: 1px solid $color-main;
          background-color: $color-main;
        }
      }
    }
  }
}

#team {
  background-color: $color-main;
  margin-top: $wrapper-margin;

  h2 {
    text-align: center;
    color: $color-light;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      width: 15rem;
      height: 15rem;
      margin: 0.4rem 0.3rem;

      .front {
        position: absolute;
        bottom: 0;
        top: 0;
        animation: flipVisible 250ms;

        img {
          max-width: 100%;
        }

        .content {
          color: $color-light;
          text-shadow: 0 0 0.3rem $color-dark;
          position: absolute;
          bottom: 0;
          width: 100%;

          h4 {
            margin: 0;
          }

          p {
            margin: 0.3rem 0.7rem 0.7rem;
          }
        }
      }

      .back {
        background-color: $color-light;
        margin: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        width: 100%;
        padding: 1rem;
        transform: rotateY(-90deg);
        animation: flipAway 250ms;

        h4,
        p {
          margin: 0.5rem;
          line-height: 1;
          color: $color-dark;
        }

        p {
          margin-bottom: 1.5rem;
        }
      }

      &.hovered .front {
        animation: flipAway 250ms forwards;
      }

      &.hovered .back {
        animation: flipVisible 250ms forwards;
      }
    }

    .has-story {
      .story-container {
        display: none;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;

        .story {
          background: white;
          padding: 2rem;
          max-width: calc(#{$wrapper-width} - #{$wrapper-margin});
          max-height: 90%;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          overflow: scroll;
          color: $color-dark;
        }
      }

      .back::before {
        display: block;
        content: "";
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 5px;
        height: 5px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
      }

      .back::after {
        display: block;
        content: "";
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 0;
        height: 0;
        border-left: 4px solid black;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        transform: translate3d(2px, 3px, 0);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.card-properties {
  .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    @include theme() {
      filter: theme-get("icon-filter-color");
    }
  }

  .tag {
    background: $color-main;
    border-radius: 3px;
    color: $color-light;
    padding: 0 0.2rem;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tag {
      margin: 0 0.2rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.all-workshops {
  grid-area: broad;

  #filter {
    border: 1px solid $color-dark;
    @include theme() {
      border-color: theme-get("text-color");
    }
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    &.show {
      max-height: 11rem; // Extend if needed (e.g. number of category tags increases). Remember to also increase height for mobile design.
      transition: max-height 200ms ease-in-out;
    }

    & > label {
      margin: 0.5rem 0;
      display: flex;

      &:first-of-type {
        padding-top: 0.5rem;
      }

      &:last-of-type {
        padding-bottom: 0.5rem;
      }

      span {
        width: 1/8 * 100%;
      }

      select,
      div {
        width: 7/8 * 100%;
        padding: 0;
      }
    }

    .category {
      margin: 0 0.5rem 0.5rem 0;
      display: inline-block;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    border: 1px solid #888888;
    border-radius: 5px;
    max-width: calc(33% - 1rem);
    margin: 0.5rem 0.5rem;
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }

  div {
    padding: 0 1rem;
  }
}

.single-workshop {
  img {
    max-width: 100%;
  }
}

footer {
  p {
    text-align: center;
    opacity: 0.7;
  }
}

@media screen and (max-width: 480px) {
  header {
    a {
      .site-subtitle {
        font-size: 3rem;
      }
    }

    nav {
      label {
        display: block;

        &::after {
          content: "▼";
          font-size: 1rem;
        }
      }

      ul {
        max-height: 0;
        overflow: hidden;
        margin: 0;
        grid-template-columns: initial;
        transition: max-height 0.5s ease;
        -moz-transition: max-height 0.5s ease;
        -o-transition: max-height 0.5s ease;
        -webkit-transition: max-height 0.5s ease;

        li {
          margin: 0;

          .button {
            margin: 0;
          }
        }
      }

      input:checked {
        ~ ul {
          max-height: 30rem;
        }

        ~ label::after {
          content: "▲";
        }
      }
    }
  }

  main {
    .two-cols {
      flex-direction: column;

      main {
        width: 100%;
      }

      aside {
        border-left: none;
        width: 100%;
      }
    }

    aside::before {
      content: "";
      display: block;
      background-color: $color-main;
      height: 1px;
      width: 100%;
    }

    #team ul .has-story .story-container .story {
      width: 80%;
    }
  }

  .all-workshops {
    #filter {
      &.show {
        max-height: 21rem;
      }

      & > label {
        flex-direction: column;
      }
    }

    li {
      max-width: 100%;
      width: 100%;
      margin: 0 0 1rem;
    }
  }
}
@keyframes flipAway {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(90deg);
  }
}
@keyframes flipVisible {
  0% {
    transform: rotateY(-90deg);
  }

  50% {
    transform: rotateY(-90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

svg {
  @include theme() {
    fill: theme-get("svg-fill-color");
  }
}

/* Theme-Switcher */

.switcher-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  //background-color: $color-dark-theme-bg;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px rgba(204, 204, 204, 0.876);
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: darken($color-dark-theme-bg, 10%);
  //background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-dark;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-site-title {
  @include theme() {
    display: theme-get("display-property-dark-title");
  }
}
.site-title {
  @include theme() {
    display: theme-get("display-property-light-title");
  }
}
