{{define "main"}}
<!-- Blogseite -->
<section class="post">
  <h2>This is impressum</h2>
  <h2>{{ .Params.Title }}</h2>
  {{with .Params.Date}}
    <p class="date">{{ .Date.Format "02.01.2006" }}</p>
  {{end}}

  {{with .Params.authors}}
  <ul class="authors">
    {{range .}}
      <li>{{.}}</li><span class="list-separator">,</span>
    {{end}}
  </ul>
  {{end}}


  {{.Content}}

  {{with .Params.tags}}
  <ul class="tags">
    {{range .}}
      <li>#{{.}}</li>
    {{end}}
  </ul>
  {{end}}

</section>

{{end}}
