{{define "main"}}
<!-- Content -->
<!-- Loop through all posts -->
    <section>
        <h2>Startseite</h2>
        <ul>
        {{ range .Pages }}
          <li>
            <a>
                <h3>{{ .Title }}</h3>
                <p> {{ .Content }}</p>
                {{ if eq .Title "Team" }}
                     {{ range $.Site.Data.team }}
                        {{ partial "team.html" . }}
                    {{ end }}
                {{ end }}
            </a>
          </li>
        {{ end }}
        </ul>
    </section>
{{end}}
