{{ define "main" }}
<section class="all-workshops">
    <h2>{{ .Title }}</h2>
    <ul id="results">
        {{ range .Pages }}
        <li>
            <a href="{{ .RelPermalink }}">
                <img src="{{ if .Params.image }}{{ (.Page.Resources.GetMatch .Params.image).RelPermalink }}{{ else }}{{ .Site.BaseURL }}images/placeholder.svg{{ end }}" alt="parents thumbnail">
                <div class="card-properties">
                    <h3>{{ .Title }}</h3>
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
