<div class="wrapper">
    <nav class="site-nav">
        <ul class="trigger">
            <li><a class="button" href="{{ .Site.BaseURL }}#about">Über uns</a></li>
            <li><a class="button" href="{{ .Site.BaseURL }}#events">Veranstaltungen</a></li>
            <li><a class="button" href="{{ .Site.BaseURL }}#team">Team</a></li>
            <li><a class="button" href="{{ .Site.BaseURL }}/blog.html">Blog</a></li>
            <li><a class="button" href="{{ .Site.BaseURL }}/impressum.html">Impressum</a></li>
        </ul>
    </nav>
</div>

