{{ define "nav" }}
  <div class="wrapper">
      <nav>
          <input type="checkbox" id="nav-trigger">
          <label for="nav-trigger">Menü</label>
          <ul class="trigger">
              <li><a class="button" href="{{ .Site.BaseURL }}/welcome#über uns">Über uns</a></li>
              <li><a class="button" href="{{ .Site.BaseURL }}/welcome#veranstaltungen">Veranstaltungen</a></li>
              <li><a class="button" href="{{ .Site.BaseURL }}/welcome#team">Team</a></li>
              <li><a class="button" href="{{ .Site.BaseURL }}/blog">Blog</a></li>
              <li><a class="button" href="{{ .Site.BaseURL }}/impressum">Impressum</a></li>
          </ul>
      </nav>
  </div>
{{ end }}
