<li {{ if .story }}class="has-story"{{ end }}>
	<div class="front">
		<div class="content">
		    <h4>{{ .name }}</h4>
			<p>{{ .tasks }}</p>
		</div>
		<img src="{{.Site.BaseURL}}images/team/{{or .imagePath "img.png"}}" alt="team member image">
	</div>
	<div class="back">
	    <h4>Hintergrund:</h4>
		<p>{{ .background }}</p>
		<h4>Interessen:</h4>
	    <p>{{ .interests }}</p>
	</div>
	{{ if .story }}
	<div class="story-container">
		<div class="story">
			<h3>Meine Geschichte</h3>
			<p>{{ .story }}</p>
		</div>
	</div>
	{{ end }}
</li>
