{{ define "main" }}
<section class="all-workshops">
    <h2>Workshops</h2>
    {{ $durations := slice }}
    {{ $ages := slice }}
    {{ $tags := slice }}
    {{ range .Pages }}
    {{ if not (in $durations .Params.duration) }}
    {{ $durations = $durations | append .Params.duration }}
    {{ end }}
    {{ if not (in $ages .Params.age) }}
    {{ $ages = $ages | append .Params.age }}
    {{ end }}
    {{ range .Params.tags }}
    {{ if not (in $tags .) }}
    {{ $tags = $tags | append . }}
    {{ end }}
    {{ end }}
    {{ end }}
    <a href="#" id="filter-toggle">Filter <span>▸</span></a>
    <div id="filter">
        <label for="age-filter">
            <span>Alter:</span>
            <select id="age-filter">
                <option value="">Alle</option>
                {{ range $ages }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </select>
        </label>
        <label for="duration-filter">
            <span>Dauer:</span>
            <select id="duration-filter">
                <option value="">Alle</option>
                {{ range $durations }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </select>
        </label>
        <label>
            <span>Kategorien:</span>
            <div id="tag-filters">
                {{ range $tags }}
                <label class="category">
                    <input type="checkbox" value="{{ . }}">
                    #{{ . }}
                </label>
                {{ end }}
            </div>
        </label>
    </div>
    <ul id="results">
        {{ range .Pages }}
        <li data-age="{{ .Params.age }}" data-duration="{{ .Params.duration }}" data-tags="{{ .Params.tags }}">
            <a href="{{ .RelPermalink }}">
                <img src="{{ if .Params.image }}{{ (.Page.Resources.GetMatch .Params.image).RelPermalink }}{{ else }}{{ .Site.BaseURL }}images/placeholder.svg{{ end }}" alt="workshop thumbnail">
                <div class="card-properties">
                    <h3>{{ .Title }}</h3>
                    {{ partial "workshop-properties.html" . }}
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
